// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.holder{
  border:1px solid #bbbbbb;
  background-color:rgba(171, 211, 230,.6);
  padding:25px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px #333;
}
.songholder{
  border:1px solid #bbbbbb;
  background-color:rgba(171, 211, 230,.6);
  padding:25px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px #333;
}
